.screen-reader-text {
  clip: rect(0.0625em, 0.0625em, 0.0625em, 0.0625em);
  position: absolute;

  &:focus {
    @include button($font-size-small, $line-height-small, transparent);
    display: block;
    position: static;
  }
}
