// ==============================================
// Site Header
// ==============================================
.site-header {
  position: absolute;
  z-index: 1;
}

.site-title {
  a {
    display: inline-block;
    padding-right: $padding-content;
    padding-left: $padding-content;
    background: $color-background-hero-text;
    color: $color-link-hero;
  }
}

.site-description {
  padding: $padding-content / 2 $padding-content;
  background: $color-background-hero-text;
  color: $color-link-hero;
}

// ==============================================
// Site Main
// ==============================================
.site-main {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.hero {
  img {
    height: 100vh;
    object-fit: cover;
  }
}

.hero-header {
  position: absolute;
  bottom: 20vh;
}

.hero-title {
  font-size: $font-size-x-large;

  a {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding-top: $padding-content / 2;
    padding-right: $padding-content;
    padding-left: $padding-content;
    background: $color-background-hero-text;
    color: $color-link-hero;
  }
}

// ==============================================
// Site Footer
// ==============================================
.site-footer {
  section {
    &:not(:nth-child(n+3)) {
      margin-bottom: $margin-content * 2;
    }
  }
}

.site-info {
  padding: $padding-content;
  line-height: 1;
}
