// ==============================================
// Site Header
// ==============================================
.site-header {
  position: absolute;
  z-index: 1;
}

.site-title,
.site-description {
  margin-bottom: 0;
}

.site-title {
  a {
    display: inline-block;
    padding-right: 0.5em;
    padding-left: 0.5em;
    background: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
  }
}

.site-description {
  display: inline-block;
  padding: 0.555555556em 1.111111111em;
  background: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  font-size: 0.9em;
}

// ==============================================
// Site Main
// ==============================================
.site-main {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.hero {
  img {
    height: 100vh;
    object-fit: cover;
  }
}

.hero-header {
  position: absolute;
  bottom: 20vh;
}

.hero-title {
  margin-bottom: 0;
  font-size: 2em;

  a {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding-top: 0.125em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    background: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
  }
}

.skip-list {
  @include list-inline;
  position: absolute;
  right: 1em;
  bottom: 1em;
  margin-bottom: 0;
}

// ==============================================
// Site Footer
// ==============================================
.site-footer {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.site-info {
  padding: 0.5em 1em;
  font-size: 0.9em;
}
