// ==============================================
// Site Header
// ==============================================
.site-header {
  position: absolute;
  z-index: 1;
}

.site-title {
  a {
    display: inline-block;
    padding-right: 0.5em;
    padding-left: 0.5em;
    background: $color-background-hero-text;
    color: $color-link-hero;
  }
}

.site-description {
  padding: 0.625em 1.25em;
  background: $color-background-hero-text;
  color: $color-link-hero;
}

// ==============================================
// Site Main
// ==============================================
.site-main {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.hero {
  img {
    height: 100vh;
    object-fit: cover;
  }
}

.hero-header {
  position: absolute;
  bottom: 20vh;
}

.hero-title {
  font-size: $font-size-x-large;

  a {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding-top: 0.125em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    background: $color-background-hero-text;
    color: $color-link-hero;
  }
}

.skip-list {
  @include list-inline;
  position: absolute;
  right: 1em;
  bottom: 1em;
}

// ==============================================
// Site Footer
// ==============================================
.site-info {
  padding: $padding-content;
}
