// ==============================================
// Site Header
// ==============================================
.site-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

.site-title,
.site-description {
  margin-bottom: 0;
}

// ==============================================
// Site Main
// ==============================================
.site-main {
  position: relative;
  height: 100vh;
}

.hero-header {
  position: absolute;
  right: 1em;
  bottom: 1em;
  left: 1em;
}

.hero-title {
  margin-bottom: 0;
  font-size: 2em;
}
