html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

ul {
  margin-top: 0;
}

.list-inline {
  list-style-type: none;
  padding-left: 0;

  li {
    display: inline;

    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}

img {
  width: 100%;
}

.form-stack {
  > input {
    margin-bottom: 0.5em;
  }
}

.input-field {
  width: 100%;
  height: 3em;
  padding-right: 0.75em;
  padding-left: 0.75em;
  border: 0.0625em solid hsl(0, 0%, 20%);
}

.btn {
  max-height: 4em;
  padding: 1.5em;
  border: 0.0625em solid hsl(0, 0%, 20%);
  color: hsl(0, 0%, 20%);
  font-size: 0.75em;
  line-height: 1;
  text-transform: uppercase;
}

.btn-block {
  width: 100%;
}

.search-form {
  position: relative;

  .btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}
