html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.list-inline {
  @include list-inline;
}

img {
  width: 100%;
}

.input-field {
  width: 100%;
  height: 3em;
  padding-right: 0.75em;
  padding-left: 0.75em;
  border: 0.0625em solid $color-border-input;
}

.btn {
  @include button;
}

.btn-block {
  width: 100%;
}

.form-search {
  position: relative;

  .btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.form-stack {
  > input {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}
