// Compass Utilities
@import 'compass/utilities/sprites';

// The Sprites Directory
@import 'icons/*.png';

// List Inline
@mixin list-inline {
  list-style-type: none;
  padding-left: 0;

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $margin-content / 2;
    }
  }
}

// Button
@mixin button($font-size, $line-height, $border-color: $color-border-button) {
  min-width: $width-button;
  min-height: $height-button;
  padding: $padding-button;
  border: $border-width solid $border-color;
  background: $color-background-button;
  color: $color-text-button;
  font-size: $font-size;
  line-height: $line-height;
  text-transform: uppercase;
}
