// List Inline
@mixin list-inline {
  list-style-type: none;
  padding-left: 0;

  li {
    display: inline;

    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}

// Button
@mixin button {
  padding: $padding-button;
  border: 0.083333333em solid $color-border-button;
  background: $color-background-button;
  color: $color-text-button;
  font-size: $font-size-small;
  line-height: $line-height-small;
  text-transform: uppercase;
}
