a {
  text-decoration: none;
}

.skip-link {
  @include button;
  display: inline-block;
}

.main-navigation {
  padding-left: 1em;
  border-bottom: 0.0625em solid hsl(0, 0%, 20%);

  .main-navigation-title {
    font-size: 1.25em;
  }

  ul {
    list-style: none;
    padding-left: 1em;
  }

  li {
    &:not(:last-child) {
      border-bottom: 0.0625em solid hsl(0, 0%, 20%);
    }
  }

  a {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: hsl(0, 0%, 20%);
  }
}
