a {
  text-decoration: none;
}

.skip-link {
  display: inline-block;
  max-height: 4em;
  padding: 1.5em;
  border: 0.0625em solid hsl(0, 0%, 20%);
  background: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 20%);
  font-size: 0.75em;
  line-height: 1;
  text-transform: uppercase;
}

.main-navigation {
  padding-left: 1em;
  border-bottom: 0.0625em solid hsl(0, 0%, 20%);

  .main-navigation-title {
    font-size: 1.25em;
  }

  ul {
    list-style: none;
    padding-left: 1em;
  }

  li {
    &:not(:last-child) {
      border-bottom: 0.0625em solid hsl(0, 0%, 20%);
    }
  }

  a {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: hsl(0, 0%, 20%);
  }
}
