a {
  text-decoration: none;
}

.skip-links {
  @include list-inline;
  position: absolute;
  right: 1em;
  bottom: 1em;
  margin-top: 0;
  margin-bottom: 0;

  a {
    @include button(0, 0);
    display: block;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 15%;
      right: 15%;
      width: $width-icon;
      height: $height-icon;
    }
  }
}

.skip-menu {
  &::before {
    @include icons-sprite(menu);
  }
}

.skip-search {
  &::before {
    @include icons-sprite(search);
  }
}

.main-navigation {
  padding-left: $padding-content;
  border-bottom: $border-width solid $color-border;

  .main-navigation-title {
    font-size: $font-size-large;
    line-height: $line-height-heading;
  }

  ul {
    list-style: none;
    padding-left: $padding-content;
  }

  li {
    &:not(:last-child) {
      border-bottom: $border-width solid $color-border;
    }
  }

  a {
    display: block;
    padding-top: $padding-content / 2;
    padding-bottom: $padding-content / 2;
    color: $color-link;
  }
}
