a {
  text-decoration: none;
}

.skip-link {
  @include button;
  display: inline-block;
}

.main-navigation {
  padding-left: $padding-content;
  border-bottom: 0.0625em solid $color-border;

  .main-navigation-title {
    font-size: $font-size-large;
    line-height: $line-height-heading;
  }

  ul {
    list-style: none;
    padding-left: $padding-content;
  }

  li {
    &:not(:last-child) {
      border-bottom: 0.0625em solid $color-border;
    }
  }

  a {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: $color-link;
  }
}
