a {
  text-decoration: none;
}

.main-navigation {
  border-bottom: 0.0625em solid hsl(0, 0%, 20%);

  .main-navigation-title {
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
    text-align: center;
  }

  ul {
    list-style: none;
    padding-left: 1.5em;
  }

  li {
    &:not(:last-child) {
      border-bottom: 0.0625em solid hsl(0, 0%, 20%);
    }
  }

  a {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: hsl(0, 0%, 20%);
  }
}
