body,
input {
  color: hsl(0, 0%, 20%);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

h1 {
  &:first-child {
    margin-top: 0;
  }
}

p {
  margin-top: 0;
}
