//--------------------------------------------------------------
// Color Brand
//--------------------------------------------------------------
$gray-20: hsl(0, 0%, 20%);
$white: hsl(0, 0%, 100%);

//--------------------------------------------------------------
// Color Border
//--------------------------------------------------------------
$color-border: $gray-20;
$color-border-button: $gray-20;
$color-border-input: $gray-20;

//--------------------------------------------------------------
// Color Background
//--------------------------------------------------------------
$color-background-button: $white;
$color-background-hero-text: $gray-20;

//--------------------------------------------------------------
// Color Text
//--------------------------------------------------------------
$color-text: $gray-20;
$color-text-button: $gray-20;
$color-link: $gray-20;
$color-link-hero: $white;

//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------
$font-size-hidden: 0;
$font-size-regular: 1em;
$font-size-small: $font-size-regular * 0.75;
$font-size-large: $font-size-regular * 1.5;
$font-size-x-large: $font-size-regular * 2;

$line-height-hidden: 0;
$line-height-body: 1.5;
$line-height-small: 1;
$line-height-heading: 1;

//--------------------------------------------------------------
// Components
//--------------------------------------------------------------
$icons-layout: smart;

$width-button: 3rem;
$height-button: 3rem;
$width-icon: 2rem;
$height-icon: 2rem;
$width-social-icon: 3rem;
$height-social-icon: 3rem;

$margin-content: 1rem;

$padding-input: 0.6875rem 0.9375rem;
$padding-button: 1.0625rem;
$padding-content: 1rem;

$border-width: 0.0625rem;
