//--------------------------------------------------------------
// Color Brand
//--------------------------------------------------------------
$gray-20: hsl(0, 0%, 20%);

//--------------------------------------------------------------
// Color Border
//--------------------------------------------------------------
$color-border: $gray-20;
$color-border-button: $gray-20;
$color-border-input: $gray-20;
