.widget-area {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 0.0625em solid hsl(0, 0%, 20%);
}

.widget {
  padding: 0.5em 1em;

  ul {
    margin-bottom: 0;
    font-size: 0.9em;
    line-height: 1;
  }

  a {
    display: inline-block;
    padding-top: 0.888888889em;
    padding-bottom: 0.888888889em;
    color: hsl(0, 0%, 20%);
  }
}

.widget-title {
  margin-bottom: 0.75em;
  font-size: 1.25em;
  line-height: 1;
}
