.widget-area {
  border-bottom: 0.0625em solid $color-border;
}

.widget {
  padding-right: 1em;
  padding-left: 1em;

  ul {
    font-size: $font-size-small;
    line-height: 1;

    a {
      display: inline-block;
      height: 2.777777778em;
      padding-top: 0.888888889em;
      padding-bottom: 0.888888889em;
    }
  }

  a {
    color: $color-link;
  }

  form {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}

.widget-title {
  font-size: $font-size-large;
}
