.widget-area {
  border-bottom: $border-width solid $color-border;
}

.widget {
  padding-right: $padding-content;
  padding-left: $padding-content;

  ul {
    font-size: $font-size-small;
    line-height: $line-height-small;

    a {
      display: inline-block;
      padding-top: $padding-content * 0.875;
      padding-bottom: $padding-content * 0.875;
    }
  }

  a {
    color: $color-link;
  }

  form {
    margin-top: $margin-content * 1.5;
    margin-bottom: $margin-content * 1.5;
  }
}

.widget-title {
  font-size: $font-size-large;
  line-height: $line-height-heading;
}
