$width-button: 3rem;
$height-button: 3rem;
$width-icon: 2rem;
$height-icon: 2rem;
$width-social-icon: 3rem;
$height-social-icon: 3rem;

$margin-content: 1rem;

$padding-input: 0.6875rem 0.9375rem;
$padding-button: 1.0625rem;
$padding-content: 1rem;

$border-width: 0.0625rem;
