a {
  text-decoration: none;
}

.skip-links {
  @include list-inline;
  position: absolute;
  right: 1em;
  bottom: 1em;
  margin-top: 0;
  margin-bottom: 0;

  a {
    @include button($font-size-hidden, $line-height-hidden);
    display: block;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 15%;
      right: 15%;
      width: $width-icon;
      height: $height-icon;
    }
  }
}

.skip-menu {
  &::before {
    @include icons-sprite(menu);
  }
}

.skip-search {
  &::before {
    @include icons-sprite(search);
  }
}
