.input-field {
  width: 100%;
  padding: $padding-input;
  border: $border-width solid $color-border-input;
}

.btn {
  @include button($font-size-small, $line-height-small);
}

.btn-block {
  width: 100%;
}

.form-search {
  position: relative;

  label {
    @include icons-sprite(search);
    @include text-hidden;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: $width-icon;
    height: $height-icon;
  }

  .input-field {
    padding-left: $padding-content * 3;
  }
}

.form-stack {
  > input {
    &:not(:last-child) {
      margin-bottom: $margin-content;
    }
  }
}
